body {
  background-color:#ffffff;
  color:#fff000;
}

p {color:#ffffff
 font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {color:#ffffff;
 font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
background-color: #ff0000;
width: 70%;
padding: 50px;
text-align: center;
}



