body {
  background-color:#ffffff;
  color:#000000;
}

p {color:#ffffff;
  background-color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

h1 {color:#ffffff;
  font-family: Nunito Sans, sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background-color: #000000;
  width: 80%;
  max-width: 100%;
  margin: auto;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
}

.column {
  float: left;
  width: calc(100% / 10);%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 200px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

#Para2 {
  color:#ffffff;
  background-color: #0033A0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para3 {
  color:#ffffff;
  background-color: #007A33;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para4 {
  color: #B8C4CA;
  background-color: #00538C;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para5 {
  color:#5A2D81;
  background-color: #63727A;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para6 {
  color:#CE1141;
  background-color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para7 {
  color:#0C2340;
  background-color: #C8102E;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para8 {
  color:#552583;
  background-color: #FDB927;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para9 {
  color:#FDB927;
  background-color: #C8102E;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para10 {
  color:#C8102E;
  background-color: #1D428A;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para11 {
  color:#552583;
  background-color: #FDB927;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#Para12 {
  color:#FDBB30;
  background-color: #860038;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

